/* @import 'settings'; */
@import 'foundation';
/* @import 'util/util'; */

/* $foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$white: #fefefe;
$black: #0a0a0a;
$body-font-color: white;

@include add-foundation-colors; */

body {
  background-color: black;
}

.grid-container {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

.h1 {
  background-color:black;
  color: white;
}

header, em {
  font-size: 400px;
}